/build/
/deps/
/releng/__pycache__/
/releng/modules/frida-gadget-ios/*.dylib
/releng/modules/frida-gadget-ios/node_modules
/subprojects/*
android/.gradle/
android/build/

# Node.js
node_modules/
package-lock.json
npm-debug.log

# Development
data/
.env
.env.local
